{% include 'header.html' %}
<body>
    <h1>DeepDiscord</h1>
    <h3>API Docs</h3>
    <p>IMPORTANT NOTE: Before using the API, please understand that you will need to contact us for a key. To obtain a key, we ask that your Discord bot is in more than 25 servers/guilds.</p>
    <h4>POST /api/submit</h4>
    <p>Submit an invite. Requires a key and invite. Invite must be either in the form of <code>https://discord.gg/ID</code> or <code>https://discord.com/invite/ID</code></p>
    <pre>
        curl --data-raw "{'token': 'your_token_here', 'url': 'your_invite_url_here'}" -H "Content-type: application/json" {{ full_domain }}
    </pre>
</body>
{% include 'footer.html' %}