{% include 'header.html' %}
<body>
<h1>DeepDiscord</h1>
<h3>Search Discord's Deep Web</h3>
<hr>
  <h3>FAQ</h3>
  <h4>What is the "deep web"?</h4>
  <p>The deep web is any content on the internet not indexed on search engines. Most of this content hidden from search engines due login pages, IP whitelisting/blacking, or configuration of the website to block search engine spiders. When you log into your Discord and access servers, you are browsing the deep web. Unfortunately, this makes finding Discord servers that are not placed on public lists, such as Disboard, tricky to find.</p>
</body>
{% include 'footer.html' %}
