{% include 'header.html' %}
<body>
<h1>DeepDiscord</h1>
<h3>Search Discord's Deep Web</h3>
<hr>
  <h3>FAQ</h3>
  <h4>What is the "deep web"?</h4>
  <p>The deep web is any content on the internet not indexed on search engines. Most of this content hidden from search engines due login pages, IP whitelisting/blacking, or configuration of the website to block search engine spiders. When you log into your Discord and access servers, you are browsing the deep web. Unfortunately, this makes finding Discord servers that are not placed on public lists, such as Disboard, tricky to find.</p>
  <h4>How are these links discovered?</h4>
  <p>Our DeepDiscord bot listens for invite links posted in Discord channels. When it finds a valid invite, it adds it to our database.</p>
  <h4>What is the point of this?</h4>
  <p>This project tries to uncover a chunk of the deep web never indexed before. This data can be useful to the curious and researchers.</p>
  <h4>Can I dislist an invite here?</h4>
  <p>Sure, please contact us.</p>
</body>
{% include 'footer.html' %}
