{% include 'header.html' %}
<body>
<h1>DeepDiscord</h1>
<h3>Search Discord's Deep Web</h3>
<p>Have you ever wondered how deep the Discord rabbit hole goes? How many hidden servers are out there? Help us find out.</p>
<h4>How it works:</h4>
<p>Our bot listens to Discord chats and collects invite links. We index these links and use the Discord API to collect basic information on them, such as the name, members, and icon. We allow users to search this data and researchers to download the whole set.</p>
<h4>How can I help?</h4>
<p>If you are a bot developer, you can use our API to help us collect invites. If you don't run a bot, kick back and relax, our search page will be active soon.</p>
<h3>More FAQs</h3>
<h4>What is the "deep web"?</h4>
  <p>The deep web is any content on the internet not indexed on search engines. Most of this content hidden from search engines due to login pages, IP whitelisting/blacking, or configuration of the website to block search engine spiders. When you log into your Discord and access servers, you are browsing the deep web. Unfortunately, this makes finding Discord servers that are not placed on public lists, such as Disboard, tricky to find.</p>
  <h4>How is the deep web different from the dark web?</h4>
  <p>The dark web is a part of the deep web that requires proxy software. Like the deep web, sites on the dark web are not indexed by standard search engines (although there are a few search engines for the dark web, such as Ahmia). However, unlike the deep web or surface websites, the server hosting the content of a dark web website cannot be easily found. Common programs used to vist the dark web are Tor and I2P.</p>
  <h4>How are these links discovered?</h4>
  <p>Our DeepDiscord bot listens for invite links posted in Discord channels. When it finds a valid invite, it adds it to our database.</p>
  <h4>What is the point of this?</h4>
  <p>This project tries to uncover a chunk of the deep web never indexed before. This data can be useful to the curious and researchers.</p>
  <h4>Can I dislist an invite here?</h4>
  <p>Sure, please contact us. You can always disable an invite from the invites tab in your Discord server's settings.</p>